:root {
  --light-blue: #04C3FF;
  --light-blue-shadow: rgba(5, 70, 90, 0.27);
  --sea-green: #0ABEAD;
  --sea-green-dark: #0CBFAE;
  --sea-green-extra-dark: #09BEAD;
  --sea-green-shadow: rgba(11, 190, 173, 0.4);
  --header-hamburger-background: rgba(11, 190, 173, 0.8);
  --orange: #F57F17;
  --dark-orange: #FF5823;
  --orange-shadow: rgba(245, 127, 23, 0.2);
  --white: #ffffff;
  --black: #333333;
  --disabled-btn: #09bead7a;
  --error-message: #e44f4fd1;
  --toast-error: #e44f4ffa;
  --toast-shadow: #9c9c9ce3;
  --toast-success: #0CBFAE;
  --loader-color: #0CBFAE
}

.about-container{
  background-image: url("bg.jpg");
  display: flex;
  flex-direction:column ;
  color: white;
}
.about-container p{
  text-align: center;
  font-size: 20px;
  font-family: "Poppins Light";
}
.about-container h1{
  text-align: center;
}
.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.contact-container input{
  font-size: 30px;
  padding: 10px;
  width: 800px;
}
.contact-container .highlighted-btn {
  border-radius: 25px;
  padding: 20px 20px;
  font-family: "Poppins Light";
  margin-left: 25px;
  font-size: 15px;
  background-color: var(--dark-orange);
}

.contact-container .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}
